

<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Iftikhar's Blog!</h1>
    <p class="lead">You Find the stuff here, You want!.</p>
    <hr class="my-4">
    <p>The hub of Knowledge.</p>
    <%# <h1>Home Page</h1> %>
    
    <%= link_to "Sign Up", signup_path, class:"btn btn-secondary"%>
    <%# <a class="btn btn-secondary" href="#" role="button">Sign Up</a> %>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Iftikhar Blog</small>
  </div>
</footer>
