@import "~bootstrap/scss/bootstrap";

// .navbar{
//     background-color: red;
// }

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
    background-image: url('../images/blog.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
    // overflow: auto;
  }

  #sticky-footer {
    flex-shrink: none;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
  }

  #cancel-buttuon{
    background-color: #6c757d;
    border-color: #6c757d;
  }

  #cancel-button:hover{
    background-color: #dc3545;
    border-color: #dc3545;
  }